# ⚠️ Fichiers sensibles — ne jamais committer
src/main/resources/db.properties
src/main/resources/supabase.properties
src/main/resources/email.properties

# Build
target/
*.class
*.war

# IDE
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db